@charset "UTF-8";

h2 {
    margin-top: 50px;
}

/* 見出し下余白 */
h2,
h3 {
    margin-bottom: 30px;
}

h4 {
    margin-bottom: 15px;
}

/* 記事本文の左右にマージンをとる */
.txt {
    margin: 0 20px;
    text-align: left;
}

/* TB幅 */
@media screen and (min-width: 771px) {
    .txt {
        margin: 0 40px;
    }

}

/* PC幅 */
@media screen and (min-width: 1200px) {

    .txt {
        margin: 0;
    }

    .row_flex {
        display: flex;
        column-gap: 30px;
        margin: 0 auto;
    }

}

/* キービジュアルの下層ページ用 */
.key_img {
    object-position: 50% 57%;
}

/* main中身*********************************** */
main {
    /* margin: 0 20px; */
}

.site_summary_wrap p {
    margin: 0 20px;
}

@media screen and (min-width: 951px) {
    .site_summary_wrap p {
        margin: 0;
    }
}

/* TB幅 */
/* @media screen and (min-width: 771px) { */
/* .site_summary_wrap p {
        margin: 0 auto;
    } */
/* } */

/* PC幅 */
/* @media screen and (min-width: 1200px) { */
/* main {
        margin: 0 auto;
    } */
/* } */

.site_char_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
}

/* キャラクター紹介 */
.char_wrap {
    width: 350px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

/* 画像を同じ高さで表示するためのdiv */
.cha_img {
    display: inline-block;
    width: 320px;
    height: 300px;
    /* text-align: center; */
    bottom: 0;
    margin: 0;
}

/* ぽぽじろう自己紹介 */
.about_popo_img {
    width: 300px;
    height: auto;
    /* height: 100%; */
}

/* ころちゃん */
.about_koro_img {
    width: 200px;
    height: auto;
    margin-top: 25px;
    /* height: 100%; */
}

.about_profile_txt {
    width: 300px;
    /* width: 100%; */
    height: auto;
    text-align: center;
    padding: 10px;
    color: #fff;
    border: 1px solid rgb(197, 225, 180);
    outline: 10px solid rgb(115, 83, 18);
    /* outline-offset: -11px; */
    background-color: rgb(47, 105, 16);
    /* border-radius: 2px; */
    margin: 0 auto;
}
