@charset "UTF-8";

/* 見出し下余白 */
h2, h3 {
    margin-bottom: 30px;
}

h4 {
    margin-bottom: 15px;
}

/* セクションの上下に余白をとる */
section {
    padding-bottom: 50px;
    padding-top: 50px;
}

/* 記事本文の左右にマージンをとる */
.txt {
    margin: 0 20px 50px;
    text-align: center;
}


/* ＝＝＝フォーム部分＝＝＝ */

/* フォーム全体 */
.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* 「お名前」などのタイトル部分と入力部分 */
.form_row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

/* 「お名前」などのタイトル部分 */
.form_label {
    width: 80vw;
    padding: 10px;
    background-color: rgb(57, 189, 255, 0.5);
    border-radius: 15px;
}

/* 「必須」部分 */
.form_label>span {
    width: 50px;
    height: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 5px;
}

/* 入力部分 */
.form_content>input, .form_content>textarea {
    /* border: #3E3A39 2px solid; */
    width: 80vw;
    background-color: #FFFCE3;
    padding: 10px;
    margin-bottom: 30px;
}

/* メッセージ入力部分の高さを設定 */
.form_content>textarea {
    height: 200px;
}

.form_row-center {
    position: relative;
}

.attention {
    margin-bottom: 30px;
}

.attention>p {
    margin-bottom: 15px;
}

.attention>p>a {
    border-bottom: solid 1px #3E3A39;
}

/* 送信ボタンの調整 */
/* ボタン位置調整・下余白 */
.contact_btn_wrap {
    text-align: center;
    margin-bottom: 50px;
}

/* ボタンデザイン */
.contact_btn {
    font-family: 'Zen Maru Gothic', sans-serif;
    width: 200px;
    height: 80px;
    line-height: 75px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #3E3A39;
    cursor: pointer;
    background-color: rgba(57, 189, 255, 0.2);
    color: #3E3A39;
    margin: 0 auto;
}

.contact_btn:hover {
    color: #fff;
    background-color: #39BDFF;
    /* background-color: #ccc; */
    border-radius: unset;
}

/* TB幅以上 */
@media screen and (min-width: 771px) {

    /* フォーム全体 */
    .form {
        gap: 0px;
    }

    .form_label {
        width: 250px;
    }

    .form_row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .message_ttl {
        height: 200px;
    }

    .form_content>input, .form_content>textarea {
        width: 43vw;
        text-align: left;
    }
}
