@charset "UTF-8";

footer {
    font-size: 14px;
    text-align: center;
    list-style: none;
    color: #fff;
}

.foot_copyright {
    font-size: 12px;
    margin-top: 100px;
}

.foot_menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 300;
}

.foot_bgcolor_cream {
    margin: -5px calc(50% - 50vw) 0;
    padding: 50px calc(50vw - 50% + 8px) 30px;
    width: 100vw;
    background-color: #309139;
}

.foot_grass {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin: 0 calc(50% - 50vw);
}

.foot_fontbold {
    font-weight: bold;
}

/* TB幅以上 */
@media screen and (min-width: 771px) {
    .foot_content {
        max-width: 950px;
        margin: 0 auto;
    }

    .foot_menu {
        display: flex;
        text-align: left;
        flex-direction: row;
        justify-content: space-around;
    }
}


/* ＝＝＝トップに戻るボタン＝＝＝ */

/* ボタンの見た目・配置 */
.foot_top {
    content: url(../img/totop.png);
    position: fixed;
    width: 70px;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

/* TB幅以上 */
@media screen and (min-width: 771px) {
    .foot_top {
        width: 100px;
        bottom: 20px;
        right: 20px;
    }

}

/* .foot_top:hover {
    animation: bound 1s ease-in alternate infinite;
} */

/* キーフレーム設定のためのクラス */
.foot_rotate {
    animation-timing-function: ease-in-out;

    /* infiniteを指定すると無限回繰り返す */
    /* 1を指定してアニメを再生するのを1回だけにしている */
    animation-iteration-count: 1;

    /* アニメの向きを設定 */
    /* 今回は反復させないのでnomarlで設定 */
    animation-direction: normal;
    animation-duration: 2s;
}

/* 要素にキーフレームで設定したアニメをさせるためのクラス */
.foot_top {
    animation: foot_rotate ease-in-out 1 normal 2s;
}

/* .foot_top:active {
    animation: bound 1s ease-in alternate infinite;
} */

/* アニメーション設定 */
/* Z軸で回転しながら移動するアニメ */
@keyframes foot_rotate {
    0% {
        transform: rotateZ(1200deg);
        right: -180px;
    }

    100% {
        transform: rotateZ(0deg);
        right: 10px;
    }
}

/* TB幅以上 */
@media screen and (min-width: 771px) {

    @keyframes foot_rotate {
        0% {
            transform: rotateZ(1200deg);
            right: -200px;
        }

        100% {
            transform: rotateZ(0deg);
            right: 20px;
        }
    }
}

@keyframes bound {
    0% {
        transform: translateY(-20%) scale(1, 1);
    }

    80% {
        transform: translateY(0%) scale(1, 1);
    }

    100% {
        transform: translateY(0%) scale(1.1, 0.9);
    }

}

/*＝＝＝豆知識＝＝＝ */

/* ポポの見た目・配置 */
.popo {
    width: 120px;
    position: fixed;
    left: -60px;
    bottom: 0px;
    z-index: 500;
    cursor: pointer;
    rotate: 45deg;
}

/* TB幅以上 */
@media screen and (min-width: 771px) {
    .popo {
        width: 200px;
        left: -100px;
    }
}

.popo_commentbox {
    position: fixed;
    left: 40px;
    bottom: 80px;
    width: 280px;
    z-index: 500;
}

/* TB幅以上 */
@media screen and (min-width: 771px) {
    .popo_commentbox {
        left: 70px;
        bottom: 110px;
    }
}

.popo_comment {
    font-size: 14px;
    font-weight: bold;
    position: fixed;
    left: 90px;
    bottom: 150px;
    z-index: 501;
    text-align: left;
    color: #3E3A39;
}

.popo_commentset {
    display: none;
}
