@charset "UTF-8";

/* テスト用のスタイル */
/* html {
    border-color: black;
    border: solid 1px;
} */
* {
    font-family: 'Noto Serif JP', serif;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #3E3A39;
}

.game_warp {
    /* position: relative; */
}

.game_size {
    width: 100%;
    height: 100vh;
    max-width: 950px;
    margin: 0 auto;
}


header {
    border-color: black;
    border: solid 1px;
    width: 100%;
    /* height: 200px; */
    padding-left: 20px;
    padding-right: 20px;
}

.game_backimage {
    background-image: url(../img/game_backimg2.png);

    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;

    position: fixed;
    top: 0;
    left: 0;

    padding-top: 100px;
    padding-bottom: 100px;
}

/* ゲーム内でオブジェクトを発生させる位置 */
.game_flex {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    z-index: 99;
}



/* none */
.jsgame_dnone {
    display: none;
}



/* スコア */

.gama_score {
    width: 100%;
    /* height: 80px; */
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 0 10px rgb(255, 244, 228);
}

/* 制限時間 */
.game_timelimit_style {
    width: 250px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 10px rgb(255, 244, 228);

    /* background-color: rgb(255, 252, 227, 0.5);
    border-radius: 50px;
    border: solid 1px;
    padding-top: 30px;
    padding-bottom: 60px; */
}

/* 画面下部の戻るボタン */

.game_totop_btn {
    position: fixed;
    left: 5%;
    bottom: 5%;

}

.game_totop_btnimg {
    content: url(../img/prev_btn_cream_sp.png);
    width: 130%;
}

.game_totop_btn div {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
}

.game_totop_btn p {
    position: absolute;
    top: 42px;
    left: 5px;
    width: 150px;

}

/* スタートカウントダウンのスタイル */
.game_startcountdown_style {
    font-size: 130px;
    margin: 0 auto;
    font-weight: bold;
    text-shadow: 0 0 10px rgb(255, 244, 228);
}

/* ゲームオーバー時のスタイル */
.gameover_position {
    width: 100%;
    height: auto;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;

    top: 30%;
    left: 0;

    margin: auto;

    display: flex;
    justify-content: center;
    flex-flow: column;

    font-weight: bold;

    text-align: center;
    background-color: rgba(255, 254, 243, 0.84);
    border-radius: 50px;
    /* border: solid 2px; */
    outline: 2px solid rgb(91, 91, 91);
    outline-offset: -8px;
}

.gameover_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.gameover_top {
    /* top: 120px; */
    font-size: 14px;
}

/* ゲームオーバー時の選択画面 */
.gameover_choice {
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    font-size: 20px;
    gap: 30px;
}

/* .gameoverLabelstyle {
    padding-bottom: 30px;
} */

.gameover_dontaimLabelstyle {
    padding-bottom: 30px;
}

/* スマホ */

/* 表示するオブジェクトの基準の位置を設定 */
.game_posi {
    position: relative;
    top: 30px;
    /* height: 100%; */
}

/* ぽぽじろう */
.game_popo {
    position: absolute;
    right: 0;
    bottom: 0;
    content: url(../img/gamestart_popojiro_2.png);
    max-width: 200px;
    width: 100%;
}

/* スタート画面 */
.game_start {
    /* background-image: url(../img/start1100x840.png); */
    width: 100%;
    height: auto;
    /* height: 500px; */
    z-index: 100;
    position: absolute;
    flex-wrap: nowrap;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.clm {
    width: 70px;
    height: 70px;
    /* max-width: 80px; */
    /* max-height: 80px; */
    /* 可視化用に色を付けている */
    /* border: solid 1px black; */
}

.clm div {
    width: 100%;
    height: 100%;
}

/*################ 表示させる画像 #################*/
/* 狙う敵 */
.clm_tgt_aim {
    width: 100%;
    height: 100%;
    content: url(../img/game_tgt1_aim_200x200.png);
    display: block;
}

/* tgt2 */
.clm_tgt2_aim {
    width: 100%;
    height: 100%;
    content: url(../img/game_tgt2_aim_200x200.png);
    display: block;
}

/* tgt3 */
.clm_tgt3_aim {
    width: 100%;
    height: 100%;
    content: url(../img/game_tgt3_aim_200x200.png);
    display: block;
}

/* tgt4 */
.clm_tgt4_aim {
    width: 100%;
    height: 100%;
    content: url(../img/game_tgt4_aim_200x200.png);
    display: block;
}

/* tgt5 */
.clm_tgt5_aim {
    width: 100%;
    height: 100%;
    content: url(../img/game_tgt5_aim_200x200.png);
    display: block;
}

/* tgt6 */
.clm_tgt6_aim {
    width: 100%;
    height: 100%;
    content: url(../img/game_tgt6_aim_200x200.png);
    display: block;
}

/* 狙ってはいけない敵 */
.clm_tgt_dontaim {
    width: 100%;
    height: 100%;
    content: url(../img/game_dontami1_200x200.png);
    display: block;
}

.clm_tgt_dontaim2 {
    width: 100%;
    height: 100%;
    content: url(../img/game_dontami2_200x200.png);
    display: block;
}

.clm_tgt_dontaim3 {
    width: 100%;
    height: 100%;
    content: url(../img/game_dontami3_200x200.png);
    display: block;
}


/* ゲームオーバー時のボタンのスタイル */
.gameover_morebtn {
    font-size: 15px;
    color: #504b4a;
    border: solid 1px black;
    border-radius: 50px;
    background-color: #ffffff;
    padding: 20px;
    transition: 0.5s;
}

.gameover_morebtn:hover {
    font-size: 20px;
    cursor: pointer;
    color: #504b4a;
    border: solid 1px black;
    border-radius: 50px;
    background-color: #ffb282;
    padding: 20px;
    transition: 0.5s;
}

.gameover_topbtn {
    font-size: 15px;
    color: #504b4a;
    border: solid 1px black;
    border-radius: 50px;
    background-color: #ffffff;
    padding: 20px;
    transition: 0.5s;
}

.gameover_topbtn:hover {
    font-size: 20px;
    cursor: pointer;
    color: #504b4a;
    border: solid 1px black;
    border-radius: 50px;
    background-color: #FFFCE3;
    padding: 20px;
    transition: 0.5s;
}

/* ゲームオーバー時のメダルの要素 */
.gameover_medalstyle {
    padding-top: 16px;
    margin: 0 auto;
    /* max-width: 320px;
    width: 100%;
    height: 100%; */
    display: block;
}

/* ビギナー賞 */
.gameover_medal_beginner {
    content: url(../img/game_medal_beginner_200x200.png);
    max-width: 400px;
    width: 100%;
    height: 100%;
}

/* ノーマル賞 */
.gameover_medal_nomal {
    content: url(../img/game_medal_nomal_200x200.png);
    max-width: 400px;
    width: 100%;
    height: 100%;
}


/* 銅メダル */
.gameover_medal1 {
    content: url(../img/game_medal1_200x200.png);
    max-width: 250px;
    width: 100%;
    height: 100%;
}

/* 銀メダル */
.gameover_medal2 {
    content: url(../img/game_medal2_200x200.png);
    max-width: 250px;
    width: 100%;
    height: 100%;
}

/* 金メダル */
.gameover_medal3 {
    content: url(../img/game_medal3_200x200.png);
    max-width: 250px;
    width: 100%;
    height: 100%;
}

/* 神メダル */
.gameover_medal4 {
    content: url(../img/game_medal4_200x200.png);
    max-width: 250px;
    width: 100%;
    height: 100%;
}

/* 矢印ボタン用 */
/* サンプルコード */
/* < !-- 矢印ボタン --><div class="next_btn"><a href="#"><div class="next_btn_frame_box"><div class="next_btn_frame"><div class='next_btn_frame_triangle'></div><div class='next_btn_frame_square'></div></div></div><div class="next_btn_inner_box"><div class="next_btn_inner"><div class='next_btn_inner_triangle'></div><div class='next_btn_inner_square'></div><p class="next_btn_txt">あそぶ</p></div></div></a></div> */

/* ＝＝＝矢印ボタン next→右向き prev→左向き＝＝＝*/
/* ホバー効果 */
.next_btn:hover {
    transition: 0.2s;
    transform: translate(20px, 0);
}

.prev_btn:hover {
    transition: 0.2s;
    transform: translate(-20px, 0);
}

.next_btn a:hover, .prev_btn a:hover {
    opacity: 1;
}


.next_btn_inner p:hover {
    color: #309139;
}


/* ボタンの大枠 */
.next_btn {
    position: relative;
    width: 150px;
    height: 100px;
}

/* 黒い部分全体の位置調整 */
.next_btn_frame_box {
    position: absolute;
    top: 0px;
    right: -12px;
}

/* 白い部分全体の位置調整 */
.next_btn_inner_box {
    position: absolute;
    top: 1px;
    right: -10px
}

/* ボタンの中のテキスト */
.next_btn_txt {
    position: absolute;
    width: 146px;
    height: 42px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
}

/* 下に敷く黒い矢印全体 */
.next_btn_frame {
    position: relative;
    width: 150px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 黒い三角部分 */
.next_btn_frame_triangle,
.next_btn_frame_triangle::before,
.next_btn_frame_triangle::after {
    width: 50px;
    height: 50px;
    background: #3E3A39;
}

.next_btn_frame_triangle::before,
.next_btn_frame_triangle::after {
    content: "";
    position: absolute;
}

.next_btn_frame_triangle {
    position: relative;
    top: 10px;
    right: -15px;
    border-top-left-radius: 20px;
    transform: rotate(240deg) skewY(30deg) scaleX(.86666);
}

.next_btn_frame_triangle::before {
    border-top-right-radius: 20px;
    transform: skewX(-45deg);
}

.next_btn_frame_triangle::after {
    border-bottom-left-radius: 20px;
    transform: skewY(-45deg) translateX(-50%);
}

/* 黒い四角の部分 */
.next_btn_frame_square {
    position: absolute;
    top: 23px;
    right: 50px;
    width: 100px;
    height: 50px;
    background: #3E3A39;
    border-radius: 15px;
}

/* 上に乗る白い矢印全体 */
.next_btn_inner {
    position: relative;
    width: 150px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 白い三角部分 */
.next_btn_inner_triangle,
.next_btn_inner_triangle::before,
.next_btn_inner_triangle::after {
    width: 43px;
    height: 43px;
    background: #fff;

}

.next_btn_inner_triangle::before,
.next_btn_inner_triangle::after {
    content: "";
    position: absolute;
}

.next_btn_inner_triangle {
    position: relative;
    top: 7px;
    left: 18px;
    border-top-left-radius: 30%;
    transform: rotate(240deg) skewY(30deg) scaleX(.86666);
}

.next_btn_inner_triangle::before {
    border-top-right-radius: 30%;
    transform: skewX(-45deg);
}

.next_btn_inner_triangle::after {
    border-bottom-left-radius: 30%;
    transform: skewY(-45deg) translateX(-50%);
}

/* 白い四角部分 */
.next_btn_inner_square {
    position: absolute;
    top: 26px;
    right: 48px;
    width: 96px;
    height: 42px;
    background: #fff;
    border-radius: 10px;
}

/* メディアクエリ */
/* タブレット */
@media screen and (min-width: 771px) and (max-width:1199px) {

    /* スタートカウントダウンのスタイル */
    .game_startcountdown_style {
        font-size: 130px;
        margin: 0 auto;

    }

    .gama_score {
        width: 100%;
        height: 80px;
        text-align: center;
        margin: 0 auto;
        font-size: 40px;
        font-weight: bold;
        text-shadow: 0 0 10px rgb(255, 244, 228);
    }


    /* 表示するオブジェクトの基準の位置を設定 */
    .game_posi {
        position: relative;
        top: 30px;
    }

    .clm {
        width: 126px;
        height: 126px;
        /* max-width: 136px; */
        /* max-height: 136px; */
        /* 可視化用に色を付けている */
        /* border: solid 1px black; */
    }


    .gameover_top {
        /* top: 150px; */
        font-size: 26px;
    }

    /* ゲームオーバー時のメダルの要素 */
    .gameover_medalstyle {
        padding-top: 16px;
        margin: 0 auto;
        /* max-width: 200px;
        width: 100%;
        height: 100%; */
        display: block;
    }

    /* メダルのサイズ */

    /* 銅メダル */
    .gameover_medal1 {
        content: url(../img/game_medal1_200x200.png);
        max-width: 130px;
        width: 100%;
        height: 100%;
    }

    /* 銀メダル */
    .gameover_medal2 {
        content: url(../img/game_medal2_200x200.png);
        max-width: 130px;
        width: 100%;
        height: 100%;
    }

    /* 金メダル */
    .gameover_medal3 {
        content: url(../img/game_medal3_200x200.png);
        max-width: 130px;
        width: 100%;
        height: 100%;
    }

    /* 神メダル */
    .gameover_medal4 {
        content: url(../img/game_medal4_200x200.png);
        max-width: 130px;
        width: 100%;
        height: 100%;
    }

}

/* PC */
@media screen and (min-width: 1200px) {

    /* スタートカウントダウンのスタイル */
    .game_startcountdown_style {
        font-size: 130px;
        margin: 0 auto;
    }

    .gama_score {
        width: 100%;
        height: 80px;
        text-align: center;
        margin: 0 auto;
        font-size: 50px;
        font-weight: bold;
        text-shadow: 0 0 10px rgb(255, 244, 228);
    }


    /* 表示するオブジェクトの基準の位置を設定 */
    .game_posi {
        position: relative;
        top: 30px;
    }

    .clm {
        width: 150px;
        height: 150px;
        /* max-width: 200px;
        max-height: 200px; */
        /* 可視化用に色を付けている */
        /* border: solid 1px black; */
    }


    .gameover_top {
        /* top: 200px; */
        font-size: 26px;
    }

    /* ゲームオーバー時のメダルの要素 */
    .gameover_medalstyle {
        padding-top: 16px;
        margin: 0 auto;
        /* max-width: 400px;
        width: 100%;
        height: 100%; */
        display: block;
    }
}
