@charset "UTF-8";
/* テスト用 */
/* 実際の画像サイズを考慮して設定してください */

/* .test_w100 {
    width: 100%;
} */

/* グローバルナビのスタイル */
.gnav_style {

    width: auto;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    margin: auto;

    left: 0;
    right: 0;
}


.gnav_logo {
    content: url(../../img/logodam.png);
}

/* ###########ハンバーガーメニューのスタイル############ */
/* 三本線 */
.gnav_hbgmenu_style {
    font-size: 44px;
    font-weight: bold;
    line-height: 20px;
    right: 0;
    /* padding */
    padding-right: 20px;
    cursor: pointer;
}

/* jsで操作するクラス */
.JS_gnav_display_none {
    display: none;
}

/* ハンバーガーメニュー */
.gnav_hbgmenu {
    width: 100%;
    /* 2022/11/21 高さの値は仮 */
    height: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /* バックのカラー */
    background-color: #FFFCE3;
    /* グラデーション */
    /* background: rgb(57, 189, 255);
    background: linear-gradient(180deg, rgba(57, 189, 255, 0.49933476808692223) 0%, rgba(255, 235, 57, 0.5021358885351015) 35%, rgba(255, 57, 123, 0.5049370089832808) 100%); */
}

/* メニュー内のロゴのスタイル */
.gnav_hbgmenu_img_size {
    width: 100%;
    height: 160px;

}

/* ハンバーガー用フレックス */
.gnav_hbgmenu_flex {
    display: flex;
    flex-flow: column;
}

/* ハンバーガーメニュー用フォントサイズ */
.gnav_hbgmenu_fontsize {
    font-size: 16px;
}

/* 閉じるボタンのスタイル */
.gnav_hbgclosebtn_style {
    font-size: 40px;
    cursor: pointer;
    box-sizing: border-box;
}

/* 閉じるボタンCLOSEの文字 */
.gnav_hbgclose_text {
    font-size: 12px;
}

/* 閉じるボタンを配置するためのフレックス */
.gnav_hbgclosebtn_flex {
    display: flex;
    justify-content: right;
}

/* 閉じるボタンのボックス */
.gnav_hbgclosebtnbox {
    width: 32px;
    height: 48px;
    margin-right: 20px;
}

/* メニュー内の区切り*/
.gnav_hbgmenu_separator {
    /* border-bottom-width: 1px; */
    margin-top: 30px;
    text-align: center;
}

/* メニュー内のボタン */
.gnav_hbgmenu_colbtn {
    border: solid;
    border-radius: 45px;
    width: 80%;
    height: 50px;
    /* ボタンを要素内の中央に配置 */
    margin-left: auto;
    margin-right: auto;
    /* line-heightで文字を中央に配置するようにしている。 */
    line-height: 50px;
}

/*  ハンバーガーメニュー用の検索ボックス */
.gnav_hmbmenu_search {
    display: block;
    /* border: 1px solid black; */
    width: 80%;
    height: 60px;
    /* ボタンを要素内の中央に配置 */
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}

/*  ハンバーガーメニュー用の検索送信ボタン */
.gnav_hmbmenu_submit {
    position: absolute;
    right: 12%;
    bottom: 15px;
    padding: 0;
    cursor: pointer;
}


/* 表示非表示に使用するクラス */
.JSgnav_hbgmenu_menudisplay_none {
    /* 初期位置は-3000pxに配置*/
    transition: all 1s;
    left: -5000px;
}

.JSgnav_hbgmenu_menudisplay_block {
    /*展開すると0pxに移動*/
    transition: all 1s;
    left: 0;
}



/* ################ナビ用フレックス############## */
.gnav_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


/* ###############検索フォームのスタイル################## */
/* --検索フォームの親要素-- */
.form_rel {
    position: relative;
}


/* --検索ボタン-- */
.gnav_submit {
    position: absolute;
    right: 10px;
    bottom: 15px;
    padding: 0;
    cursor: pointer;

}

/* 検索ボックス */
.gnav_srchbox {
    display: block;
    border: 1px solid black;
    background-color: #FFFFFF;
    width: 285px;
    height: 60px;
}

/* グローバルナビ用のマージン */
.gnav_pad {
    padding-left: 20px;
    padding-right: 29px;
}

/* 見出し（メニュー）のスタイル */
.gnav_menulist_top_style {
    margin-top: 120px;
    font-size: 24px;
    text-align: center;
}

/* メディアクエリ */
/* スマホ */
@media screen and (max-width: 770px) {

    .gnav_menu_font {
        font-size: 20px;
    }

    /* グローバルメニューの項目の表示非表示 */
    .gnav_menu_display {
        display: none;
    }

    .gnav_item {
        width: auto;
        height: 100px;
        margin: 0;
        min-width: 0;
        /* border: 1px solid black; */
    }

    /* ハンバーガーの表示非表示 */
    .gnav_hbgmenu_display {
        display: block;
    }


}

/* タブレット */
@media screen and (min-width: 771px) and (max-width:1199px) {

    .gnav_menu_font {
        font-size: 20px;
    }

    /* グローバルメニューの項目の表示非表示 */
    .gnav_menu_display {
        display: none;
    }

    .gnav_item {

        width: auto;
        height: 100px;
        margin: 0;
        min-width: 0;
        /* border: 1px solid black; */
    }

    /* ハンバーガーの表示非表示 */
    /* ハンバーガーの表示非表示 */
    .gnav_hbgmenu_display {
        display: block;
    }

}

/* PC */
@media screen and (min-width: 1200px) {

    .gnav_menu_font {
        font-size: 20px;
    }

    /* グローバルメニューの項目の表示非表示 */
    .gnav_menu_display {
        display: block;
    }

    .gnav_item {

        /* width: auto; */
        height: 100px;
        margin: 0;
        min-width: 0;
        /* border: 1px solid black; */
    }

    /* ハンバーガーの表示非表示 */

    .gnav_hbgmenu_display {
        display: none;
    }
}
