@charset "UTF-8";

/* 見出し下余白 */
h2, h3 {
    margin-bottom: 30px;
}

h2 {
    margin-top: 50px;
}

h4 {
    margin-bottom: 15px;
}

/* カード部分はhのmarginを設定しない */
.card_ttl {
    margin-top: 0;
}


/* セクションの上下に余白をとる */
section {
    /* padding-bottom: 50px; */
    padding-top: 50px;
}
