@charset "UTF-8";
/* お知らせ詳細ページ */

/* ＝＝＝セクションをまたぐ指定＝＝＝ */

/* common.cssから個別へ */
main {
    overflow-x: hidden;
}

/* 要素の幅をこれ以上小さくしない。カードの幅である300pxを指定 */
body {
    min-width: 300px;
}

/* 見出し下余白 */
h2, h3 {
    margin-bottom: 30px;
}

h4 {
    margin-bottom: 15px;
}


/* パンくず */
.pkz {
    text-align: left;
    margin-left: 20px;
}

/* セクションの上下に余白をとる */
section {
    padding-bottom: 50px;
    padding-top: 50px;
}

/* 記事本文の左右にマージンをとる */
.txt {
    margin: 0 20px 50px;
    text-align: left;
}

section img {
    width: 300px;
    margin-bottom: 15px;
    border-radius: 30px;
}

/* アイコンにホバーすると説明が出る */
/* いいね！ボタン（ハート） */
.iineicon_tooltip {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.iineicon_tooltip a {
    margin: 0;
    padding: 0;
}

.iineicon_description {
    display: none;
    position: absolute;
    padding: 8px;
    font-size: 12px;
    line-height: 1.3em;
    color: #fff;
    border-radius: 5px;
    background: #3E3A39;
    width: 70px;
}

.iineicon_description:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border: 15px solid transparent;
    border-top: 15px solid #3E3A39;
    margin-left: -15px;
}

.iineicon_tooltip:hover .iineicon_description {
    display: inline-block;
    top: -50px;
    left: -20px;
}

/* TB幅 */
@media screen and (min-width: 771px) {

    .pkz {
        margin-left: 40px;
    }

    section img {
        width: 600px;
    }

    .txt {
        margin: 0 40px 50px;
    }

}

/* PC幅 */
@media screen and (min-width: 1200px) {
    .pkz {
        margin: 0 auto;
    }

    .column_flex {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }

    .row_flex {
        display: flex;
        column-gap: 30px;
        margin: 0 auto;
    }
}


/* ＝＝＝概要などのセクション＝＝＝ */

/* このコースのカテゴリ表示 */
.category_post {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.category_post li {
    height: 30px;
    border: #3E3A39 1px solid;
    border-radius: 10px;
    padding: 0 20px;
    margin-bottom: 15px;

}


/* ＝＝＝カテゴリバー＝＝＝ */

/* サイドバーの幅を設定する */
.sidebar_box {
    width: 250px;
    margin: 0 auto 50px;
}

/* 「カテゴリ一覧」の後ろに薄い黄色を敷く */
.category_ttl {
    display: block;
    width: 250px;
    padding: 15px;
    background: rgba(255, 235, 57, 0.5);
    border-radius: 20px;
}

.sidebar>ul>li {
    line-height: 3;
}

li a:hover {
    color: darkgrey;
}

/* TB幅 */
@media screen and (min-width: 771px) {

    /* 記事とサイドバーにflexをかける  */
    .flex_box {
        display: flex;
    }

    .sidebar {
        position: sticky;
        /* Gナビの下で固定させる */
        top: 80px;
        right: 0;
    }
}

/* ＝＝＝ダミー＝＝＝ */

/* ナビのダミーブロック */
.gnav_dummy {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: darkgray;
}

/* メインビジュアルのダミーブロック */
.mainVisual_dummy {
    width: 100%;
    height: 120px;
    background-color: cadetblue;
    margin-top: 80px;
}

/* フッターのダミーブロック */
.footer_dummy {
    height: 450px;
    margin: 0 calc(50% - 50vw);
    padding: 50px calc(50vw - 50% + 8px);
    width: 100vw;
    background-color: darkgray;
}
