@charset "UTF-8";

/* 要素の幅をこれ以上小さくしない。カードの幅である300pxを指定 */
body {
    min-width: 300px;
    height: 100%;
}

/* 見出し下余白 */
h2, h3 {
    margin-bottom: 30px;
}

h2 {
    margin-top: 50px;
}

h4 {
    margin-bottom: 15px;
}

/* カード部分はhのmarginを設定しない */
.card_ttl {
    margin-top: 0;
}


/* パンくず */
.pkz {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-left: 20px;
}

/* セクションの上下に余白をとる */
section {
    /* padding-bottom: 50px; */
    padding-top: 50px;
}

/* ＝＝＝ページネーション＝＝＝ */

/* SP幅で１カラムになったとき、下にmarginを50pxとる */
.pagination {
    margin: 0 auto 50px;
}

/* 番号部分を横並びにする */
.nav_links {
    display: flex;
}

/* 番号部分の成形 */
.pagination .page_numbers {
    display: inline-block;
    margin: 0 10px;
    padding: 20px 30px;
    color: #333;
    border-radius: 50%;
    border: #333 2px solid;
    background: #FFF;
}

/* 現在のページを表す */
.pagination .current {
    padding: 20px 30px;
    border: #333 2px solid;
    background: rgba(57, 189, 255, 0.5);
    color: #333;
}

/* 「前へ」「次へ」の部分 */
.pagination .prev,
.pagination .next {
    background: transparent;
    box-shadow: none;
    color: #333;
}

/* ボタンの間の「…」 */
.pagination .dots {
    background: transparent;
}


/* TB幅 */
@media screen and (min-width: 771px) {
    .pagination {
        margin: 0 auto 50px;
    }
}




/* ナビのダミーブロック */
.gnav_dummy {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: darkgray;
}

/* メインビジュアルのダミーブロック */
.mainVisual_dummy {
    width: 100%;
    height: 120px;
    background-color: cadetblue;
    margin-top: 80px;
}

/* フッターのダミーブロック */
.footer_dummy {
    width: 100vw;
    height: 450px;
    margin: 0 calc(50% - 50vw);
    padding: 50px calc(50vw - 50% + 8px);
    background-color: darkgray;
}

/* ***************************************************** */
/* 全体のリストスタイル削除 */
body {
    list-style: none;
}

/* 「公園検索条件」エリア全体 */
.search_wrap {
    background-color: rgba(255, 252, 227, 0.5);
    border-radius: 20px;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

/* 「公園条件検索」の設定 */
.search_ttl {
    margin-bottom: 20px;
    font-weight: bold;
}

/* 各項目の大きさ */
.item {
    width: 100%;
    height: 100%;
    margin: 0 auto 15px;
}

/* チェックボックスを文字のラインと揃える */
.item input {
    vertical-align: baseline;
}

/* 項目のタイトル */
.item_ttl {
    width: 80%;
    height: 40px;
    border-radius: 30px;
    margin: 0 auto 15px;
    font-weight: bold;
    /* 文字を上下中央に配置 */
    line-height: 40px;
}

/* 項目タイトルの各背景色 */
.i_ttl_1 {
    background-color: rgba(255, 57, 123, 0.5);
}

.i_ttl_2 {
    background-color: rgba(57, 189, 255, 0.5);
}

.i_ttl_3 {
    background-color: rgba(255, 235, 57, 0.5);
}

/* flexの指定 */
.item ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

/* 項目詳細の要素の調整 */
.item ul li {
    /* 要素幅の微調整 */
    width: 150px;
    /* 文字の左詰め */
    text-align: left;
    /* カラム落ちのときにチェックボックスがはみ出さない */
    margin-left: 15px;
    /* リスト間の高さ */
    line-height: 2em;
}

/* チェックボックスの大きさ・色 */
.item input[type="checkbox"] {
    transform: scale(1.6);
    accent-color: #3e3a39;
    cursor: pointer;
}

/* 文字をクリックしても選択可能にする
・チェックボックスとの間余白・ */
.item ul li label {
    cursor: pointer;
    padding-left: 5px;
}

/* 一部文字を小さく表示 */
.item ul li span {
    font-size: 14px;
}

/* 項目「地域」のflex */
.item_area ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 10px;
}

/* 「地域別」の項目詳細の大きさ */
.item_area ul li {
    width: auto;
}

/* メディアクエリ ******************************/
/* 幅771pxからはここを読み込む */
@media screen and (min-width: 771px) {

    /* 「公園検索条件」エリア全体 */
    .search_wrap {
        border: 1px solid #3E3A39;
    }

    /* 項目範囲の幅を広げる */
    .item {
        width: 800px;
    }

    /* 3項目のタイトルの角丸 */
    .item_ttl {
        width: 90%;
        border-radius: 10px;

        height: 40px;
        border-radius: 10px;
        margin: 0 auto 15px;
        /* 文字を上下中央に配置 */
        line-height: 40px;
    }

    /* flexの指定 */
    .item ul {
        padding: 0 30px;
        margin: 0 auto;
    }

    /* 項目リストの要素の大きさの調整 */
    .item ul li {
        width: 200px;
        margin-left: 10px;
    }

    /*  */
    .item_tool ul {
        flex-direction: row;
        align-items: flex-start;
    }
}


/* クリア・検索ボタンの設定********************* */
/* ボタン位置調整・下余白 */
.search_btn_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* ボタンデザイン */
.search_btn {
    font-family: 'Zen Maru Gothic', sans-serif;
    width: 160px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #3E3A39;
    cursor: pointer;
}

/* リセットボタンの設定 */
.search_btn_reset {
    background-color: #fff;
}

/* 検索ボタンの設定 */
.search_btn_search {
    color: #fff;
    background-color: #3E3A39;
}

@media screen and (min-width: 771px) {
    .search_btn {
        height: 80px;
    }
}
