@charset "UTF-8";

main {
    margin-bottom: 50px;

    /* テスト用(要素が入るイメージ) */
    background-color: rgb(224, 255, 184);
}

section {
    max-width: 100%;
    /* テスト用(要素が入るイメージ) */
    /* 可視化用のスタイル */
    /* height: 400px; */
    height: auto;
    /* sectionのカラー */

}


/* 画像を中央に寄せる */
.top_img_center {
    text-align: center;
}

/* コンテンツのバックを画面いっぱいまで引き延ばす */
.top_contentsbacl_width {
    padding-top: 50px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);

    /* このクラスを設定した要素を画面いっぱいに引き延ばす */
    width: 100vw;
    /* margin-leftで中央位置に配置されるように調整 */
    margin-left: calc(-50vw + 50%);
}

.top_contentsbacl_width_cream {
    padding-top: 50px;
    border: 1px solid black;
    background-color: #FFFCE3;

    /* このクラスを設定した要素を画面いっぱいに引き延ばす */
    width: 100vw;
    /* margin-leftで中央位置に配置されるように調整 */
    margin-left: calc(-50vw + 50%);
}

.top_margin_0 {
    margin: 0 auto;
}

/* 2022/11/23追加 */
/* ###############メディアクエリ############### */
/* ########################################### */

/* スマホ */
/* 770pxまで */
@media screen and (max-width: 770px) {
    .top_margin_size_70or30 {
        margin-top: 30px;
    }

    .top_margin_size_100or50 {
        margin-top: 50px;
    }

    .top_margin_size_50or30 {
        margin-top: 30px;
    }

    /* マージン下 */
    .top_marginbottom_100or50 {
        margin-bottom: 50px;
    }

    /* 表示 */
    .top_parksearch_title {
        display: none;
    }

    /* 画像サイズ */
    .top_img_size {
        width: 200px;
        display: block;
    }

    /* 検索エリアのスタイル */
    .top_parksearch_style {
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
    }

    /* 公園ピックアップのスタイル */
    .top_parkpickup_style {
        width: 100%;
        height: auto;
        background-color: #FFFFFF;
    }

    /* このサイトについてのスタイル */
    .top_style {
        max-width: 950px;
        height: auto;
    }

    /* フレックスのスタイル */
    .top_flex_style {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-flow: column;
    }

    /* ネクストボタンの表示切替 */
    .top_next_btn_display {
        display: none;
    }

    /* レスポンシブ時ネクストボタンの表示切替 */
    .top_next_btn_display_responsive {
        display: block;
    }
}


/* タブレット */
/* 771pxから1199pxまで */
@media screen and (min-width: 771px) and (max-width:1199px) {

    .top_margin_size_70or30 {
        margin-top: 30px;

    }

    .top_margin_size_100or50 {
        margin-top: 50px;
    }

    .top_margin_size_50or30 {
        margin-top: 30px;
    }

    /* マージン下 */
    .top_marginbottom_100or50 {
        margin-bottom: 50px;
    }

    /* 表示 */
    .top_parksearch_title {
        display: none;
    }

    /* 画像サイズ */
    .top_img_size {
        width: 200px;
        display: block;
    }

    /* 検索エリアのスタイル */
    .top_parksearch_style {
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
    }

    /* 公園ピックアップのスタイル */
    .top_parkpickup_style {
        width: 100%;
        height: auto;
        background-color: #FFFFFF;
    }

    /* このサイトについてのスタイル */
    .top_style {
        max-width: 950px;
        height: auto;
    }

    /* フレックスのスタイル */
    .top_flex_style {
        display: flex;
        align-items: start;
        justify-content: space-between;

        flex-flow: column;
    }

    /* ネクストボタンの表示切替 */
    .top_next_btn_display {
        display: none;
    }

    /* レスポンシブ時ネクストボタンの表示切替 */
    .top_next_btn_display_responsive {
        display: block;
    }
}




/* PC */
/* 1200pxから */
@media screen and (min-width: 1200px) {

    .top_margin_size_70or30 {
        margin-top: 70px;

    }

    .top_margin_size_100or50 {
        margin-top: 100px;
    }

    .top_margin_size_50or30 {
        margin-top: 50px;
    }

    /* マージン下 */
    .top_marginbottom_100or50 {
        margin-bottom: 100px;
    }

    /* 表示 */
    .top_parksearch_title {
        display: inline;
    }


    /* 画像サイズ */
    .top_img_size {
        width: 430px;
        display: block;
    }

    /* 検索エリアのスタイル */
    .top_parksearch_style {
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
    }

    /* 公園ピックアップのスタイル */
    .top_parkpickup_style {
        width: 100%;
        height: auto;
        background-color: #FFFFFF;
    }

    /* このサイトについてのスタイル */
    .top_style {
        max-width: 950px;
        height: auto;
    }

    /* フレックスのスタイル */
    .top_flex_style {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    /* justify-content: space-between; */

    /* flex-flow: column; */
}

/* ネクストボタンの表示切替 */
.top_next_btn_display {
    display: block;
}

/* レスポンシブ時ネクストボタンの表示切替 */
.top_next_btn_display_responsive {
    display: none;
}


/* メモ　親の高さが400pxのためそれより大きくなって子がはみ出ている */



/* ！！！！ここから島田の記述 ！！！！*/

/* ＝＝＝セクションをまたぐ指定＝＝＝ */
main {
    margin-bottom: 50px;
}

section {
    /* padding-bottom: 50px; */
    padding-top: 50px;
}

h2 {
    letter-spacing: 0.12em;
}

h2, h3 {
    margin-bottom: 30px;
}

a:hover {
    opacity: 0.7;
}

.section_img {
    width: 70%;
    height: auto;
}

.section_txt {
    margin: 30px 20px;
    text-align: left;
}

.next_btn {
    margin: 50px auto 0px;
}

.section_flex_reverse {
    margin-bottom: 50px;
}

/* TB幅以上 */
@media screen and (min-width: 771px) {

    /* テキスト＆矢印と写真を横並びにする */
    .section_flex {
        display: flex;
        gap: 50px;
        align-items: center;
    }

    /* テキストと矢印を縦に余白を持たせて配置する */
    .inner_flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    /* 矢印ボタンの下にmarginをとらない */
    .next_btn {
        margin: 50px auto 0px;
    }

    /* 右から横並びにする */
    .section_flex_reverse {
        display: flex;
        gap: 50px;
        flex-direction: row-reverse;
    }
}

/* ＝＝＝キービジュアル＝＝＝ */
header {
    position: relative;
}

.keyVisual_logo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 950px;
    z-index: 3;
}

.keyVisual_boy {
    position: absolute;
    top: 80%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.keyVisual_girl {
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 50%;
}

/* TB幅以上 */
@media screen and (min-width: 771px) {
    .keyVisual_boy {
        top: 75%;
        left: 85%;
        transform: translate(-50%, -50%);
        width: 50%;
        max-width: 950px;
    }

    .keyVisual_girl {
        position: absolute;
        top: 25%;
        left: 20%;
        transform: translate(-50%, -50%);
        width: 35%;
        max-width: 950px;
    }

}


/* ＝＝＝公園検索＝＝＝ */
.search {
    padding-bottom: 0px;
}

.search_inner {
    position: relative;
    width: 65vw;
    margin: 0 auto;
}

.search_map {
    width: 100%;
    margin-bottom: 50px;
}

.map_btn {
    position: absolute;
    padding: 2vw;
    border: #3E3A39 3px solid;
    border-radius: 50%;
    background-color: #FFFCE3;
}

/* マップボタン用のホバー効果 */

.map_btn.circle {
    background: #FFFCE3;
    color: #3E3A39;
    overflow: hidden;
    transition-duration: .4s;
    z-index: 2;
}

.map_btn.circle::after {
    border-radius: 50%;
    content: "";
    display: block;
    margin: auto;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 100%;
    height: 0;
    z-index: -1;
    transform: translateY(-50%) scale(0.1);
    transition: opacity .5s, transform 0s;
    transition-delay: 0s, .4s;
}

.map_btn_east.circle::after {
    background: #FF397B;
}

.map_btn_west.circle::after {
    background: #39BDFF;
}

.map_btn_south.circle::after {
    background: #FFEB39;
}

.map_btn.circle:hover {
    color: #fff;
}

.map_btn_south.circle:hover {
    color: #000;
}

.map_btn.circle:hover::after {
    opacity: 1;
    transform: translateY(-50%) scale(1.1);
    transition-delay: 0s;
    transition: opacity .8s, transform .6s ease-in-out;
}

/*マップボタンの位置調整 */

.map_btn_east {
    top: 13%;
    right: 23%;
}

.map_btn_west {
    top: 23%;
    left: 20%;
}

.map_btn_south {
    bottom: 36%;
    right: 35%;
}

/* TB幅以上 */
@media screen and (min-width: 771px) {

    .map_btn {
        padding: 3vw;
        font-size: 20px;
    }

    /* マップボタンの位置調整 */
    .map_btn_east {
        top: 17%;
        right: 23%;
    }

    .map_btn_west {
        top: 26%;
        left: 20%;
    }

    .map_btn_south {
        bottom: 30%;
        right: 35%;
    }
}

/* ＝＝＝お知らせ＝＝＝ */
.news_img {
    width: 200px;
}

/* お知らせの記事を改行して表示 */
.news_article a {
    display: block;
    margin: 50px 0;
}

/* TB幅以上 */
@media screen and (min-width: 771px) {

    /* お知らせの矢印を含めた３つを横並びにして、上下中央に表示させる */
    .news_next_btn {
        margin: 0px auto 0px;
    }

    /* お知らせ記事の表示を整える */
    .news_article a {
        margin: 30px auto;
        text-align: left;
        font-size: 20px;
    }
}


/* ＝＝＝インスタのスライダー＝＝＝ */

.slider .slick-slide {
    width: 200px;
    height: 200px;
    margin: 0 15px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.slider .slick-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .slick-arrow {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FFFCE3;
    cursor: pointer;
    border: 3px solid #3E3A39;
    outline: none;
    font-size: 0;
    position: absolute;
    top: 50%;
    z-index: 1;
    /* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16)); */
}

.slider .slick-arrow::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #09000d;
    border-width: 3px 3px 0 0;
    position: absolute;
    top: 20px;
    transform: rotate(45deg);
}

.slider .slick-next {
    right: -80px;
}

.slider .slick-prev {
    left: -80px;
}

.slider .slick-next::before {
    left: 20px;
}

.slider .slick-prev::before {
    border-width: 0 0 3px 3px;
    right: 22px;
}

.dots .slick-dots {
    text-align: center;
}

.dots .slick-dots li {
    display: inline-block;
}

.slider_dots .slick-dots button {
    display: block;
    width: 10px;
    height: 10px;
    margin: 6px;
    font-size: 0;
    padding: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    background: #bcbcbc;
    border-radius: 50%;
}

.slider_dots .slick-dots .slick-active button {
    background: #3E3A39;
}

.slick-dots {
    position: relative;
    bottom: 0;
}

.insta_logo {
    width: 80px;
    margin-top: 30px;
}

/* ＝＝＝リンク集＝＝＝ */

.banner {
    margin-bottom: 30px;
}

.banner_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 30px;
    margin-top: 50px;
}
