@charset "UTF-8";

main {
    margin-bottom: 50px;

    /* テスト用(要素が入るイメージ) */
    background-color: rgb(224, 255, 184);
}

section {
    max-width: 100%;
    /* テスト用(要素が入るイメージ) */
    /* 可視化用のスタイル */
    /* height: 400px; */
    height: auto;
    /* sectionのカラー */

}


/* 画像を中央に寄せる */
.top_img_center {
    text-align: center;
}

/* コンテンツのバックを画面いっぱいまで引き延ばす */
.top_contentsbacl_width {
    padding-top: 50px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);

    /* このクラスを設定した要素を画面いっぱいに引き延ばす */
    width: 100vw;
    /* margin-leftで中央位置に配置されるように調整 */
    margin-left: calc(-50vw + 50%);
}

.top_contentsbacl_width_cream {
    padding-top: 50px;
    border: 1px solid black;
    background-color: #FFFCE3;

    /* このクラスを設定した要素を画面いっぱいに引き延ばす */
    width: 100vw;
    /* margin-leftで中央位置に配置されるように調整 */
    margin-left: calc(-50vw + 50%);
}

.top_margin_0 {
    margin: 0 auto;
}

/* 2022/11/23追加 */
/* ###############メディアクエリ############### */
/* ########################################### */

/* スマホ */
/* 770pxまで */
@media screen and (max-width: 770px) {
    .top_margin_size_70or30 {
        margin-top: 30px;
    }

    .top_margin_size_100or50 {
        margin-top: 50px;
    }

    .top_margin_size_50or30 {
        margin-top: 30px;
    }

    /* マージン下 */
    .top_marginbottom_100or50 {
        margin-bottom: 50px;
    }

    /* 表示 */
    .top_parksearch_title {
        display: none;
    }

    /* 画像サイズ */
    .top_img_size {
        width: 200px;
        display: block;
    }

    /* 検索エリアのスタイル */
    .top_parksearch_style {
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
    }

    /* 公園ピックアップのスタイル */
    .top_parkpickup_style {
        width: 100%;
        height: auto;
        background-color: #FFFFFF;
    }

    /* このサイトについてのスタイル */
    .top_style {
        max-width: 950px;
        height: auto;
    }

    /* フレックスのスタイル */
    .top_flex_style {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-flow: column;
    }

    /* ネクストボタンの表示切替 */
    .top_next_btn_display {
        display: none;
    }

    /* レスポンシブ時ネクストボタンの表示切替 */
    .top_next_btn_display_responsive {
        display: block;
    }
}


/* タブレット */
/* 771pxから1199pxまで */
@media screen and (min-width: 771px) and (max-width:1199px) {

    .top_margin_size_70or30 {
        margin-top: 30px;

    }

    .top_margin_size_100or50 {
        margin-top: 50px;
    }

    .top_margin_size_50or30 {
        margin-top: 30px;
    }

    /* マージン下 */
    .top_marginbottom_100or50 {
        margin-bottom: 50px;
    }

    /* 表示 */
    .top_parksearch_title {
        display: none;
    }

    /* 画像サイズ */
    .top_img_size {
        width: 200px;
        display: block;
    }

    /* 検索エリアのスタイル */
    .top_parksearch_style {
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
    }

    /* 公園ピックアップのスタイル */
    .top_parkpickup_style {
        width: 100%;
        height: auto;
        background-color: #FFFFFF;
    }

    /* このサイトについてのスタイル */
    .top_style {
        max-width: 950px;
        height: auto;
    }

    /* フレックスのスタイル */
    .top_flex_style {
        display: flex;
        align-items: start;
        justify-content: space-between;

        flex-flow: column;
    }

    /* ネクストボタンの表示切替 */
    .top_next_btn_display {
        display: none;
    }

    /* レスポンシブ時ネクストボタンの表示切替 */
    .top_next_btn_display_responsive {
        display: block;
    }
}




/* PC */
/* 1200pxから */
@media screen and (min-width: 1200px) {

    .top_margin_size_70or30 {
        margin-top: 70px;

    }

    .top_margin_size_100or50 {
        margin-top: 100px;
    }

    .top_margin_size_50or30 {
        margin-top: 50px;
    }

    /* マージン下 */
    .top_marginbottom_100or50 {
        margin-bottom: 100px;
    }

    /* 表示 */
    .top_parksearch_title {
        display: inline;
    }


    /* 画像サイズ */
    .top_img_size {
        width: 430px;
        display: block;
    }

    /* 検索エリアのスタイル */
    .top_parksearch_style {
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
    }

    /* 公園ピックアップのスタイル */
    .top_parkpickup_style {
        width: 100%;
        height: auto;
        background-color: #FFFFFF;
    }

    /* このサイトについてのスタイル */
    .top_style {
        max-width: 950px;
        height: auto;
    }

    /* フレックスのスタイル */
    .top_flex_style {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    /* justify-content: space-between; */

    /* flex-flow: column; */
}

/* ネクストボタンの表示切替 */
.top_next_btn_display {
    display: block;
}

/* レスポンシブ時ネクストボタンの表示切替 */
.top_next_btn_display_responsive {
    display: none;
}


/* メモ　親の高さが400pxのためそれより大きくなって子がはみ出ている */
