header {
    margin-bottom: 100px;

    /* テスト用(要素が入るイメージ) */
    width: 100%;
    height: 600px;
    background-color: rgb(255, 252, 227);
}

main {
    margin-bottom: 100px;

    /* テスト用(要素が入るイメージ) */
    width: 100%;
    background-color: rgb(224, 255, 184);
}

section {
    margin-bottom: 100px;

    /* テスト用(要素が入るイメージ) */
    width: 100%;
    height: 400px;
    background-color: rgb(204, 204, 204);
}

footer {
    /* テスト用(要素が入るイメージ) */
    width: 100%;
    height: 600px;
    background-color: rgb(255, 252, 227);
}
