@charset "UTF-8";

h2 {
    margin-top: 50px;
}

/* 見出し下余白 */
h2,
h3 {
    margin-bottom: 30px;
}

h4 {
    margin-bottom: 15px;
}

/* PC幅 */
@media screen and (min-width: 1200px) {

    .row_flex {
        display: flex;
        column-gap: 30px;
        margin: 0 auto;
    }

}

/* キービジュアルの下層ページ用 */
.key_img {
    object-position: 50% 57%;
}

/* main中身*********************************** */

.site_summary_wrap p {
    margin: 0 20px;
    font-weight: bold;
    line-height: 2em;
}

/* ブレイクポイント */
@media screen and (min-width: 950px) {
    .site_summary_wrap p {
        margin: 0;
    }
}

.site_char_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
}

/* キャラクター紹介 */
.char_wrap {
    width: 350px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

/* 画像を同じ高さで表示するためのdiv */
.cha_img {
    display: inline-block;
    width: 320px;
    height: 300px;
    bottom: 0;
    margin: 0;
}

/* ぽぽじろう自己紹介 */
.about_popo_img {
    width: 300px;
    height: auto;
}

/* ころちゃん */
.about_koro_img {
    width: 200px;
    height: auto;
    margin-top: 25px;
}

/* キャラクター紹介テキストのデザイン */
.about_profile_txt {
    width: 300px;
    height: auto;
    text-align: center;
    padding: 10px;
    color: #fff;
    border: 1px solid rgb(197, 225, 180);
    outline: 10px solid rgb(115, 83, 18);
    background-color: rgb(47, 105, 16);
    margin: 0 auto;
}
