@charset "UTF-8";

html {
    /* 横スクロールバー対策 */
    overflow-x: hidden;
}

body {
    font-family: 'Noto Serif JP', serif;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #3E3A39;
    /* 本文部分のフォントサイズ */
    font-size: 16px;
    /* 行間の指定 */
    line-height: 1.7;
    /* スマホ横画面対策 */
    -webkit-text-size-adjust: 100%;
}

/* キービジュアルの下層ページ用 */
.key_img {
    object-fit: cover;
    /* object-position: 50% 70%; */
    position: relative;
    width: 100vw;
    height: 150px;
    margin-top: 80px;
    z-index: -2;
}

.key_circle {
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: blue;
    background-color: #fff;
    border-radius: 50% 50% 0 0;
    top: 180px;
    z-index: -1;
    /* 破線を上に表示 */
    outline-width: 4.5px;
    outline-style: dashed;
    outline-color: #fff;
    outline-offset: 10px;
}

/* セクションによって、背景色をクリーム色にする */
.bgcolor_cream {
    margin: 0 calc(50% - 50vw);
    padding: 50px calc(50vw - 50% + 8px);
    width: 100vw;
    background-color: #FFFCE3;
    z-index: -2;
}

/* リンクのhover時にカーソルをポインターにする */
a:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* コンテンツ幅を950pxまでに設定 */
main {
    max-width: 950px;
    /* 要素を中央配置にする */
    margin: 0 auto;
    text-align: center;
    overflow-x: hidden;
}

@media screen and (min-width: 950px) {
    main {
        overflow-x: visible;
    }
}


/* パンくず */
.pkz {
    font-size: 14px;
    display: inline-block;
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

/* h2下のアンダーラインデザイン */
.h2_under {
    text-underline-offset: 5px;
    text-align: center;
    text-decoration: 6px underline dashed #FFEB39;
}

/* SP見出しフォントサイズ */
h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

h4 {
    font-size: 20px;
}

/* PC・TBのフォントサイズ */
@media screen and (min-width: 771px) {
    h2 {
        font-size: 32px;
        font-weight: bold;
    }

    h3 {
        font-size: 24px;
        font-weight: bold;
    }

    h4 {
        font-size: 24px;
    }
}

/* 矢印ボタン next→右向き prev→左向き*/
.next_btn, .prev_btn {
    /* 文字に対してrelativeを設定 */
    position: relative;
    width: 220px;
    margin: 50px auto;
}

.next_btn:hover {
    transition: 0.2s;
    transform: translate(30px, 0);
}

.prev_btn:hover {
    transition: 0.2s;
    transform: translate(-30px, 0);
}

.next_btn p, .prev_btn p {
    position: absolute;
    color: #3E3A39;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* PC矢印ボタン ここまで*/



/* カード型記事 *********************************************** */

/* card_flexの指定 */
.card_flex {
    display: flex;
    justify-content: space-around;
    /* 縮小幅にあわせて自動でカラム落ち */
    flex-flow: row wrap;
    /* カード間の余白 */
    column-gap: 10px;
}

/* カード1つ分の大枠 */
.card_wrap {
    background-color: #fff;
    width: 300px;
    height: 430px;
    /* 枠線表示(写真との間に隙間ができない) */
    outline: 2px solid #3e3a39;
    outline-offset: -2px;
    /* カードの角丸指定 */
    border-radius: 30px;
    /* カラム落ちしたときの下余白 */
    margin-bottom: 50px;
}

/* 画像の指定 */
.card_img {
    width: 100%;
    height: 200px;
    /* 画像の角丸指定 */
    border-radius: 30px 30px 0 0;
}

/* 文章の指定（枠組み） */
.card_container {
    width: 100%;
    height: 230px;
    /* 画像の角丸指定 */
    border-radius: 30px;
    /* テキストを常に中央配置するための枠を指定 */
    position: relative;
}

/* 文章の指定（中身） */
.card_inner {
    width: 250px;
    text-align: center;
    /* テキストを中央配置する中身の部分 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* サブタイトル */
.card_subttl {
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    margin-bottom: 8px;
}

/* タイトル */
.card_ttl {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    text-decoration: underline 1px solid;
    margin-bottom: 15px;
}

/* 記事本文の指定 */
.card_txt p {
    font-size: 16px;
}


/* ＝＝＝ページネーション＝＝＝ */

/* .pagination {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
} */

/* 丸い形を形成 */
/* .pagination a {
    display: inline-block;
    color: #3E3A39;
    border-radius: 50%;
    border: 2px solid #3E3A39;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
} */

/* 「＜」・「＞」の大きさ */
/* .pagination i {
    line-height: 40px;
} */

/* 現在選ばれているぺージ */
/* .pagination .active a {
    background-color: #39BDFF;
    color: white;
}

.pagination a:hover {
    background-color: #3E3A39;
    color: white;
} */

/* 選択できない箇所 */
/* .pagination .disabled a {
    pointer-events: none;
    color: #ccc;
}

.pagination .disabled a:hover {
    background-color: initial;
    color: #ccc;
} */



/*  */
.wp-pagenavi {
    /* 全体 */
    /* margin: 20px 0; */
    /* font-size: 12px; */
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.wp-pagenavi a {
    /* フォント色 */
    /* color: #4a4a4a; */
    color: #3E3A39;
    line-height: 40px;
}

/* .pages { */
/* 左の表記 */
/* margin-right: 20px;
} */

.wp-pagenavi .current,
.wp-pagenavi a.page {
    /* ボタン */
    /* margin: 0 6px 6px 0; */
    display: inline-block;
    /* border: solid 1px #eee; */
    border: 2px solid #3E3A39;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}

.wp-pagenavi .current {
    /* カレント数字 */
    /* border: none;
    background: #87e6e9;
    color: #fff; */
    background-color: #39BDFF;
    color: white;
}

/* .wp-pagenavi .current:hover {
    background-color: #3E3A39;
    color: white;
} */

.wp-pagenavi a.page:hover {
    /* マウスオーバー */
    /* background: #87e6e9;
    color: #fff; */
    background-color: #3E3A39;
    color: white;
}

/* .wp-pagenavi .first,
.wp-pagenavi .extend { */
/* ... */
/* margin-right: 20px; */
/* } */

/* .wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink { */
/* 記号の削除 */
/* display: none; */
/* } */

.wp-pagenavi .pages {
    display: none;
}
