@charset "UTF-8";

/* common.cssから個別へ */
main {
    /* overflow-x: hidden; */
    /* overflow-x: visible; */
}

/* 要素の幅をこれ以上小さくしない。カードの幅である300pxを指定 */
body {
    min-width: 300px;
    height: 100%;
}

/* 見出し下余白 */
h2, h3 {
    margin-bottom: 30px;
}

h2 {
    margin-top: 50px;
}

h4 {
    margin-bottom: 15px;
}

/* カード部分はhのmarginを設定しない */
.card_ttl {
    margin-top: 0;
}


/* セクションの上下に余白をとる */
section {
    /* padding-bottom: 50px; */
    padding-top: 50px;
}

/* ＝＝＝カテゴリバー＝＝＝ */

/* サイドバーの幅を設定する */
.sidebar_box {
    width: 200px;
    margin: 0 auto 50px;
}

/* 「カテゴリ一覧」の後ろに薄い黄色を敷く */
.category_ttl {
    display: block;
    width: 200px;
    padding: 10px;
    background: rgba(255, 235, 57, 0.5);
    border-radius: 20px;
}

.sidebar>ul>li {
    line-height: 3;
}

li a:hover {
    color: darkgrey;
}

/* TB幅 */
@media screen and (min-width: 771px) {

    /* カードとサイドバーにflexをかける  */
    .flex_box {
        display: flex;
        gap: 0px;
    }

    .sidebar_box {
        position: sticky;
        /* Gナビの下で固定させる */
        top: 80px;
        height: 70vh;
    }

    .sidebar_box {
        margin-right: 20px;
        margin-left: 20px;
    }
}


/* SP幅で１カラムになったとき、下にmarginを50pxとる */
.pagination {
    margin: 0 auto 50px;
}

/* TB幅 */
@media screen and (min-width: 771px) {
    .pagination {
        margin: 0 auto 50px;
    }
}
