@charset "UTF-8";

/* ＝＝＝セクションをまたぐ指定＝＝＝ */

/* 要素が950pxからはみ出す場合の記述 */
main {
    overflow-x: hidden;
}

@media screen and (min-width: 950px) {
    main {
        overflow-x: visible;
    }
}

/* 見出し下余白 */
h2, h3 {
    margin-bottom: 30px;
}

h4 {
    margin-bottom: 15px;
}

/* セクションの上下に余白をとる */
section {
    padding-bottom: 50px;
    padding-top: 50px;
}

/* 記事本文の左右にマージンをとる */
.txt {
    margin: 0px 30px;
    text-align: left;
    /* width: 300px; */
}

/* カード型以外の写真のサイズ */
.course_top_img, .course_img {
    width: 300px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.flex_box {
    margin: 0 auto;
}

/* ＝＝＝タイムテーブルのセクション＝＝＝ */

/* 時間を写真に被せるための箱 */
.time_box {
    position: relative;
    width: 300px;
    /* 下のテキスト用に広めに高さをとる */
    height: 200px;
    margin: 0 auto;
}

/* 時間表示の部分 */
.course_time {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 120px;
    height: 40px;
    background-color: #FFFCE3;
    border: 2px solid #3E3A39;
    border-radius: 30px;
    font-size: 20px;
    z-index: 3;
}

/* コースの写真 */
.course_img {
    position: absolute;
    top: 20px;
    left: 0;
}

.txt {
    width: 300px;
    margin: 0 auto;
}

/* 区切りのタイヤ */
.separater_img {
    width: 200px;
    margin: 20px;
}

.pickup_deco {
    width: 80px;
}

/* ＝＝＝概要などのセクション＝＝＝ */

/* このコースのカテゴリ表示 */
.category_post {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.category_post li {
    height: 30px;
    border: #3E3A39 1px solid;
    border-radius: 10px;
    padding: 0 20px;
    margin-bottom: 15px;

}

/* テーブルの成形 */
table {
    width: 360px;
    font-size: 16px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 5px;
    overflow: hidden;
    table-layout: fixed;
    /* background-color: rgba(255, 252, 227); */
}

/* 項目の幅を固定 */
th {
    width: 80px;
    text-align-last: justify;
    padding: 10px;
    white-space: nowrap;
}

td {
    text-align: left;
    padding: 10px;
    word-wrap: break-word;
}


/* 写真中サイズ幅(+マージン)の540px以上 */
@media screen and (min-width: 540px) {

    /* カード型以外の写真のサイズ */
    .course_top_img, .course_img {
        width: 480px;
    }

    /* 見出しの幅・位置 */
    .h2_under {
        width: 480px;
        margin: 0 auto 30px;
    }

    /* 概要テーブル */
    table {
        width: 480px;
    }

    /* 時間を写真に被せるための箱 */
    .time_box {
        width: 480px;
        /* 16:9の写真で、下に余裕ができる高さを設定 */
        height: 310px;
    }

    /* 記事本文 */
    .txt {
        width: 480px;
    }
}

/* 写真大サイズ幅(+マージン)の660px以上 */
@media screen and (min-width: 660px) {

    /* カード型以外の写真のサイズ */
    .course_top_img, .course_img {
        width: 600px;
    }

    /* 見出しの幅・位置 */
    .h2_under {
        width: 600px;
        margin: 0 auto 30px;
    }

    /* 概要テーブル */
    table {
        width: 600px;
    }

    /* 時間を写真に被せるための箱 */
    .time_box {
        width: 600px;
        height: 380px;
    }

    /* 記事本文 */
    .txt {
        width: 600px;
    }

    /* 区切りのタイヤ */
    .separater_img {
        width: 300px;
        margin: 20px;
    }
}


@media screen and (min-width: 950px) {

    /* 記事とサイドバーにflexをかける  */
    .flex_box {
        display: inline-flex;
        justify-content: space-between;
    }

    .sidebar_box {
        position: sticky;
        position: -webkit-sticky;
        /* Safari対応用 */
        /* Gナビの下で固定させる */
        top: 80px;
        height: 70vh;
    }

    .sidebar_box {
        margin-left: 120px;
    }

    /* 見出しの幅・カード型以外の写真のサイズ */
    .course_top_img, .course_img, .h2_under {
        width: 480px;
    }

    /* 概要テーブル */
    table {
        width: 480px;
    }

    /* 時間を写真に被せるための箱 */
    .time_box {
        width: 480px;
        /* 16:9の写真で、下に余裕ができる高さを設定 */
        height: 310px;
    }

    /* 記事本文 */
    .txt {
        width: 480px;
    }
}

/* PC幅 */
@media screen and (min-width: 1200px) {

    /* 見出しの幅・カード型以外の写真のサイズ */
    .course_top_img, .course_img, .h2_under {
        width: 600px;
    }

    /* 概要テーブル */
    table {
        width: 600px;
    }

    /* 時間を写真に被せるための箱 */
    .time_box {
        width: 600px;
        height: 380px;
    }

    /* 記事本文 */
    .txt {
        width: 600px;
    }

}


/* ＝＝＝いいね！ボタン（ハート）＝＝＝ */

.iineicon_tooltip {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-top: 50px;
}

.iineicon_tooltip a {
    margin: 0;
    padding: 0;
}

.iineicon_description {
    display: none;
    position: absolute;
    padding: 8px;
    font-size: 12px;
    line-height: 1.3em;
    color: #fff;
    border-radius: 5px;
    background: #3E3A39;
    width: 70px;
}

.iineicon_description:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border: 15px solid transparent;
    border-top: 15px solid #3E3A39;
    margin-left: -15px;
}

.iineicon_tooltip:hover .iineicon_description {
    display: inline-block;
    top: -50px;
    left: -20px;
}
