@charset "UTF-8";

/* キービジュアルの下層ページ用 */
.key_img {
    object-position: 50% 30%;
}

.minori_wrap {
    margin: 50px 20px;
}

/* 中身のコンテンツ幅が950px以上のとき */
/* @media screen and (min-width: 950px) {
    .minori_wrap {
        margin-bottom: 50px;
    }
} */

/* 見出し下余白 */
h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    /* デザインの設定 */
    padding-left: 15px;
    border-left: 10px solid #39bdff;
    border-radius: 20px 0 0 20px;
    border-bottom: 1.5px dashed #39bdff;
}

h4 {
    margin-bottom: 15px;
}

/* テキスト左寄せ */
.minori_wrap p {
    text-align: left;
}

.minori_wrap ul {
    text-align: left;
}

/* サイト制作のワケ */

.minori_reason img {
    width: 300px;
    height: auto;
    margin-bottom: 30px;
    object-fit: contain;
}

@media screen and (min-width: 771px) {

    .minori_reason {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 30px;
    }
}

/* 中身のコンテンツ幅が950px以上のとき */
@media screen and (min-width: 950px) {
    .minori_reason {
        /* flex-direction: row; */
    }
}

/* 「関係者の皆様」のテキスト部分 */
.minori_co_txt_wrap p {
    text-align: center;
}

.minori_co_txt {
    margin-bottom: 30px;
}

/* 参考サイト一覧 */
/* .ref_wrap {
    text-align: left;
} */
