@charset "UTF-8";

/* キービジュアルの下層ページ用 */
.key_img {
    object-position: 50% 95%;
}

.minori_wrap {
    margin: 50px 20px;
}

/* 中身のコンテンツ幅が950px以上のとき */
@media screen and (min-width: 950px) {
    .minori_wrap {
        margin: 0;
        margin-bottom: 50px;
    }
}

/* 見出し下余白 */
h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

h4 {
    margin-bottom: 15px;
}

/* テキスト左寄せ */
.minori_wrap p {
    text-align: left;
}

.minori_wrap ul {
    text-align: left;
}

.ref_wrap {
    text-align: left;
}
