@charset "UTF-8";

/* 見出し下余白 */
h2,
h3 {
    margin-bottom: 30px;
}

h4 {
    margin-bottom: 15px;
}

/* 記事本文の左右にマージンをとる */
.txt {
    margin: 0 20px;
    text-align: left;
}

/* TB幅 */
@media screen and (min-width: 771px) {
    .txt {
        margin: 0 40px;
    }

}

/* PC幅 */
@media screen and (min-width: 1200px) {

    .txt {
        margin: 0;
    }

    .row_flex {
        display: flex;
        column-gap: 30px;
        margin: 0 auto;
        /* vertical-align: middle; */
    }

}

/* キービジュアルの下層ページ用 */
.key_img {
    object-position: 50% 55%;
}

/* 療育本文********************************************* */
main {
    margin-bottom: 50px;
}

/* 大見出し（メモ風）の周囲に余白 */
.nur_ttl {
    margin: 50px 20px 30px;
}

.nur_ttl h2 {
    position: relative;
    background-color: rgba(255, 235, 57, 0.5);
    /* 破線の外側 */
    box-shadow: 0px 0px 0px 10px rgba(255, 235, 57, 0.5);
    /* 破線 */
    border: dashed 3.5px white;
    padding: 20px 0;
    font-size: 22px;
}

/* 端の折れ部分の設定 */
.nur_ttl h2:after {
    position: absolute;
    content: '';
    /* 下のメモ部分の端にのる */
    right: -15px;
    top: -15px;
    border-width: 0 40px 40px 0;
    /* 実線の指定 */
    border-style: solid;
    /* 折れ部分の大きさ */
    border-color: #ffeb39 #fff #ffeb39;
    /* 影 */
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

/* タイトル部分の文字装飾 */
.nur_ttl p {
    text-align: left;
}

.nurttl_c_p {
    color: #ff387a;
    font-size: 1.15em;
    /* 文字に白い縁取り */
    text-shadow:
        2px 2px 1px #fff,
        -2px 2px 1px #fff,
        2px -2px 1px #fff,
        -2px -2px 1px #fff,
        2px 0px 1px #fff,
        0px 2px 1px #fff,
        -2px 0px 1px #fff,
        0px -2px 1px #fff;
}

.nurttl_c_b {
    color: #39bdff;
    font-size: 1.15em;
    /* 文字に白い縁取り */
    text-shadow:
        2px 2px 1px #fff,
        -2px 2px 1px #fff,
        2px -2px 1px #fff,
        -2px -2px 1px #fff,
        2px 0px 1px #fff,
        0px 2px 1px #fff,
        -2px 0px 1px #fff,
        0px -2px 1px #fff;
}

@media screen and (min-width: 771px) {
    .nur_ttl h2 {
        font-size: 32px;
    }
}

/* セクションの上下に余白をとる */
.nur_session_list {
    padding-bottom: 50px;
    margin: 0 20px;
}

/* ブレイクポイント */
@media screen and (min-width: 950px) {
    .nur_session_list {
        margin: 0;
    }
}


/* 写真のサイズ等指定 */
.row_flex img {
    width: 300px;
    margin-bottom: 15px;
    border-radius: 30px;
    object-fit: cover;
}

/* TB幅 */
@media screen and (min-width: 771px) {

    .row_flex img {
        width: 480px;
    }
}

/* PC幅 */
@media screen and (min-width: 1200px) {
    .row_flex img {
        margin-bottom: 0;
    }
}

.title_flex {
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: center;
    /* margin: 0 15px; */
}

.popo_icon {
    width: 30px;
    height: 30px;
    margin: 5px 5px 0 10px;
}

/* 小見出し */
.title_flex h3 {
    margin-bottom: 15px;
    text-align: start;
}

/* テキスト内のラインマーカー*/
.txt_mark {
    background: linear-gradient(transparent 60%, rgba(255, 235, 57, 0.7) 60%);
}


/* カード型記事 *********************************************** */

/* card_flexの指定 */
.card_flex {
    display: flex;
    justify-content: space-around;
    /* 縮小幅にあわせて自動でカラム落ち */
    flex-flow: row wrap;
    /* カード間の余白 */
    column-gap: 10px;
}

/* カード1つ分の大枠 */
.card_wrap {
    background-color: #fff;
    width: 300px;
    height: 510px;
    height: auto;
    /* カードの角丸指定 */
    border-radius: 30px;
    /* カラム落ちしたときの下余白 */
    margin-bottom: 50px;
    /* 線を外に引くためのafter疑似要素を追加 */
    position: relative;
    box-shadow: none;
}

/* カードホバー時の動き無し */
.card_wrap:hover {
    top: 0;
    box-shadow: none;
    animation: none;
}

/* 画像の指定 */
.card_img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    /* 画像の角丸指定 */
    border-radius: 30px;
}

.wp-post-image {
    width: 100%;
    height: 200px;
    /* 画像の角丸指定 */
    border-radius: 30px 30px 0 0;
}

/* 文章の指定（枠組み） */
.card_container {
    width: 250px;
    height: 350px;
    height: auto;
    /* 画像の角丸指定 */
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
}

/* タイトル */
.card_ttl {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    /* 中の要素を中央に寄せる */
    display: table;
    text-decoration: none;
}

.card_ttl h2 {
    text-decoration: underline 1px solid #3E3A39;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    /* 中央寄せの指定 */
    display: table-cell;
    vertical-align: middle;
}

/* 記事本文の指定 */
.card_txt p {
    width: 100%;
    height: 135px;
    height: auto;
    font-size: 16px;
    text-align: left;
}

/* card_flexの指定 */
.card_flex {
    display: flex;
    justify-content: space-around;
    /* 縮小幅にあわせて自動でカラム落ち */
    flex-flow: row wrap;
    /* カード間の余白 */
    column-gap: 10px;
}

/* カード型のみの設定 */
.h2_under {
    margin-top: 100px;
}

/* カードホバー時の動き */
.card_wrap:hover {
    animation: none;
}

.nur_list:last-child {
    margin-top: 30px;
}

/* プロフィール******************** */
.nur_profile_wrap {
    margin: 0 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FFFCE3;
    border-radius: 20px;
    border: 1px solid #3e3a39;
}

.nur_profile_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

/* 先生の画像 */
.nur_profile_img {
    width: 120px;
    height: auto;
    object-fit: cover;
}

.nur_pro_txt {
    width: auto;
}

/* 先生の名前 */
.nur_profile_flex h4 {
    text-align: center;
    margin-top: 30px;
}

/* プロフィールテキスト */
.nur_profile_flex p {
    text-align: left;
    margin: 0 20px;
}

/* ブレイクポイント */
@media screen and (min-width: 850px) {
    .nur_profile_flex {
        flex-direction: row;
        width: 100%;
    }

    .nur_pro_txt {
        width: 650px;
    }

    .nur_pro_txt h4 {
        text-align: left;
        margin: 0;
        margin-left: 20px;
    }

    .nur_pro_txt p {
        text-align: left;
    }

    /* 先生の画像 */
    .nur_profile_img {
        margin: 0 auto;
    }
}

/* ギフテッドのリンクボタン */
/* ギフテッド全体をつつむdiv */
.gifted_wrap {
    margin-top: 50px;
}

/* ギフテッドのリンクボタン */
.gifted_link {
    margin: 0 auto;
}

/* イメージ画像の大きさ・枠線 */
.gifted_link a img {
    width: 300px;
    height: auto;
    border-radius: 30px;
    border: 1px solid #3e3a39;
    /* ボーダーの太さを各所に指定 */
    border-width: 1px 1px 5px 1px;
    transition: .3s;
}

/* ボタンのホバー時の設定*/
.gifted_btn :hover {
    opacity: 0.7;
    /* ボタンが下に5px沈む */
    transform: translate3d(0, 5px, 0);
}
