@charset "UTF-8";

/* ＝＝＝セクションをまたぐ指定＝＝＝ */

main {
    margin-bottom: 50px;
    overflow-x: hidden;
}

section {
    /* padding-bottom: 50px; */
    padding-top: 50px;
}

h2 {
    letter-spacing: 0.12em;
}

h2, h3 {
    margin-bottom: 30px;
}

a:hover {
    opacity: 0.7;
}

.section_img {
    width: 70%;
    height: auto;
}

.section_img_popo {
    width: 400px;
    height: auto;
    object-fit: cover;
}

.section_txt {
    margin: 30px 20px;
    text-align: left;
}

.section_flex_reverse {
    margin-bottom: 50px;
}

.top_separator {
    object-fit: cover;
    overflow-x: hidden;
}

/* コンテンツ幅以上 */
@media screen and (min-width: 950px) {
    .top_separator {
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        margin: 0 calc(50% - 50vw);
        overflow-x: unset;
    }
}

/* 各セクションの要素の位置までいったら要素が現れる */

/* .zoomIn {
    animation-name: zoomInAnime;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

@keyframes zoomInAnime {
    0% {
        transform: scale(0.6);
        opacity: 0;
    }

    80% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1.0);
        opacity: 1;
    }
} */

/* 要素を順番に表示するためのクラス */

.animate {
    opacity: 0;
    /* flex: 0 1 30%; */
    transform: translateY(10px);
    transition: all 1.0s;
}

.animate.show {
    opacity: 1;
    transform: translateY(0);
}

.animate.show:nth-of-type(1) {
    transition-delay: 0s;
}

.animate.show:nth-of-type(2) {
    transition-delay: 0.2s;
}

.animate.show:nth-of-type(3) {
    transition-delay: 0.4s;
}

.animate.show:nth-of-type(4) {
    transition-delay: 0.5s;
}

.animate.show:nth-of-type(5) {
    transition-delay: 0.6s;
}

/* 以下、h2に装飾をするクラス */

.h2_first {
    position: relative;
    font-size: 40px;
    z-index: 1;
}

.h2_first::before {
    content: "";
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    top: -22px;
    left: -35px;
    z-index: -1;
}

.h2_first_pg {
    color: #FF387A;
}

.h2_first_pg::before {
    background-color: #F4F4F4;
}

.h2_first_bg {
    color: #39BDFF;
}

.h2_first_bg::before {
    background-color: #F4F4F4;
}

.h2_first_bw {
    color: #39BDFF;
}

.h2_first_bw::before {
    background-color: #fff;
}

.h2_first_pw {
    color: #FF387A;
}

.h2_first_pw::before {
    background-color: #fff;
}

.insta_box>h2 {
    letter-spacing: 0.3em;
}

.pickup_deco {
    width: 80px;
}

/* TB幅以上 */
@media screen and (min-width: 771px) {

    /* テキスト＆矢印と写真を横並びにする */
    .section_flex {
        display: flex;
        gap: 50px;
        align-items: center;
    }

    /* テキストと矢印を縦に余白を持たせて配置する */
    .inner_flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    /* 矢印ボタンの下にmarginをとらない */
    .next_btn {
        margin: 50px auto 0px;
    }

    /* 右から横並びにする */
    .section_flex_reverse {
        display: flex;
        gap: 50px;
        flex-direction: row-reverse;
    }
}

/* ＝＝＝矢印ボタン next→右向き prev→左向き＝＝＝*/
/* ホバー効果 */
.next_btn:hover {
    transition: 0.2s;
    transform: translate(20px, 0);
}

.prev_btn:hover {
    transition: 0.2s;
    transform: translate(-20px, 0);
}

.next_btn a:hover, .prev_btn a:hover {
    opacity: 1;
    color: #29970E;
}


/* ボタンの大枠 */
.next_btn {
    position: relative;
    width: 150px;
    height: 100px;
    margin: 0 auto;
}

/* 黒い部分全体の位置調整 */
.next_btn_frame_box {
    position: absolute;
    top: 0px;
    right: -12px;
}

/* 白い部分全体の位置調整 */
.next_btn_inner_box {
    position: absolute;
    top: 1px;
    right: -10px
}

/* ボタンの中のテキスト */
.next_btn_txt {
    position: absolute;
    width: 146px;
    height: 42px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
}

/* 下に敷く黒い矢印全体 */
.next_btn_frame {
    position: relative;
    width: 150px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 黒い三角部分 */
.next_btn_frame_triangle,
.next_btn_frame_triangle::before,
.next_btn_frame_triangle::after {
    width: 50px;
    height: 50px;
    background: #3E3A39;
}

.next_btn_frame_triangle::before,
.next_btn_frame_triangle::after {
    content: "";
    position: absolute;
}

.next_btn_frame_triangle {
    position: relative;
    top: 10px;
    right: -15px;
    border-top-left-radius: 20px;
    transform: rotate(240deg) skewY(30deg) scaleX(.86666);
}

.next_btn_frame_triangle::before {
    border-top-right-radius: 20px;
    transform: skewX(-45deg);
}

.next_btn_frame_triangle::after {
    border-bottom-left-radius: 20px;
    transform: skewY(-45deg) translateX(-50%);
}

/* 黒い四角の部分 */
.next_btn_frame_square {
    position: absolute;
    top: 23px;
    right: 50px;
    width: 100px;
    height: 50px;
    background: #3E3A39;
    border-radius: 15px;
}

/* 上に乗る白い矢印全体 */
.next_btn_inner {
    position: relative;
    width: 150px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 白い三角部分 */
.next_btn_inner_triangle,
.next_btn_inner_triangle::before,
.next_btn_inner_triangle::after {
    width: 43px;
    height: 43px;
    background: #fff;

}

.next_btn_inner_triangle::before,
.next_btn_inner_triangle::after {
    content: "";
    position: absolute;
}

.next_btn_inner_triangle {
    position: relative;
    top: 7px;
    left: 18px;
    border-top-left-radius: 30%;
    transform: rotate(240deg) skewY(30deg) scaleX(.86666);
}

.next_btn_inner_triangle::before {
    border-top-right-radius: 30%;
    transform: skewX(-45deg);
}

.next_btn_inner_triangle::after {
    border-bottom-left-radius: 30%;
    transform: skewY(-45deg) translateX(-50%);
}

/* 白い四角部分 */
.next_btn_inner_square {
    position: absolute;
    top: 26px;
    right: 48px;
    width: 96px;
    height: 42px;
    background: #fff;
    border-radius: 10px;
}


/* ＝＝＝キービジュアル＝＝＝ */

/* 画面を読み込むと、タイトルロゴが上からフェードインする */

.fadeIn {
    animation: fadeInAnime 1s ease-in-out 1 forwards;
    opacity: 0;
}

@keyframes fadeInAnime {
    0% {
        transform: translateY(-400px);
        opacity: 0;
    }

    50% {
        transform: translateY(30px);
    }

    65% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(30px);
    }

    20%, 100% {
        opacity: 1;
    }
}


/* 背景色と幅の設定 */
.key_bg {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #FFFCE3;
}

/* 以下、キービジュアルのパーツ配置 */
.key_logo_sp {
    position: absolute;
    top: 38%;
    left: 8%;
    width: 350px;
    max-width: 950px;
    z-index: 6;
}

/* 横長のロゴはSPで非表示に */
/* その他、SPでは使わない写真も非表示にする */
.key_logo, .key_photo02, .key_photo03, .key_photo04, .key_circle_pk04, .key_circle_pk03 {
    display: none;
}

.key_city {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100vw;
    z-index: 1;
}

/* キャッチコピー */
.key_catch {
    position: absolute;
    top: 15%;
    left: 12%;
    width: 150px;
    z-index: 5;
}

/* 右上ブランコ少年 */
.key_photo05 {
    position: absolute;
    top: 10%;
    left: 40%;
    width: 60%;
    z-index: 4;
}

/* 三角旗 */
.key_flag {
    position: absolute;
    top: 40px;
    left: -5%;
    width: 50vw;
    z-index: 3;
}

/* 双子姉妹 */
.key_photo01 {
    position: absolute;
    bottom: 5%;
    left: -5%;
    width: 220px;
    z-index: 4;
}

/* 家族 */
.key_photo06 {
    position: absolute;
    bottom: 12%;
    right: 0%;
    width: 180px;
    rotate: -15deg;
    z-index: 4;
}

.key_circle_pk01 {
    position: absolute;
    top: 35%;
    left: 8%;
    width: 100px;
    rotate: -10deg;
    opacity: 0.6;
    z-index: 2;
}

.key_circle_pk02 {
    position: absolute;
    bottom: 15%;
    left: 230px;
    width: 20%;
    opacity: 0.6;
    z-index: 2;
}

.key_circle_bl01 {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 20%;
    z-index: 2;
}

.key_circle_bl02 {
    position: absolute;
    bottom: 50%;
    left: 35%;
    width: 8%;
    z-index: 2;
}

.key_circle_bl03 {
    position: absolute;
    bottom: 40%;
    right: 0%;
    width: 20%;
    rotate: 90deg;
    opacity: 0.8;
    z-index: 2;
}


/* TB幅以上 */
@media screen and (min-width: 771px) {
    .key_logo, .key_photo02, .key_photo03, .key_photo04, .key_circle_pk04, .key_circle_pk03 {
        display: block;
    }

    .key_catch, .key_logo_sp, .key_flag {
        display: none;
    }

    .key_logo {
        position: absolute;
        top: 30%;
        /* left: 50%; */
        /* transform: translate(-50%, -50%); */
        width: 90%;
        max-width: 950px;
        z-index: 6;
    }

    /* 右上ブランコ少年 */
    .key_photo05 {
        position: absolute;
        top: 10%;
        left: 70%;
        width: 30%;
        z-index: 4;
        object-fit: cover;
        overflow: hidden;
    }

    /* 双子姉妹 */
    .key_photo01 {
        position: absolute;
        bottom: 5%;
        left: 0%;
        width: 22%;
        z-index: 4;
    }

    /* 3人家族 */
    .key_photo06 {
        position: absolute;
        bottom: 10%;
        right: 5%;
        width: 220px;
        rotate: -15deg;
        z-index: 4;
    }

    /* すべり台少年 */
    .key_photo02 {
        position: absolute;
        top: 13%;
        left: 9%;
        width: 16%;
    }

    /* 乗り物3人兄弟 */
    .key_photo03 {
        position: absolute;
        top: 8%;
        left: 28%;
        width: 30%;
    }

    /* グローブジャングル少女 */
    .key_photo04 {
        position: absolute;
        top: 15%;
        right: 33%;
        width: 180px;
    }

    .key_circle_bl01 {
        position: absolute;
        top: 70%;
        left: 70%;
        width: 9%;
        z-index: 2;
    }

    .key_circle_pk01 {
        position: absolute;
        top: 8%;
        left: 70%;
        width: 130px;
        z-index: 2;
    }

    .key_circle_pk02 {
        position: absolute;
        bottom: 23%;
        left: 50%;
        width: 50px;
        opacity: 0.6;
        z-index: 2;
    }

    .key_circle_pk03 {
        position: absolute;
        bottom: 23%;
        left: 20%;
        width: 30px;
        opacity: 0.6;
        z-index: 2;
    }

    .key_circle_pk04 {
        position: absolute;
        top: 9%;
        left: 3%;
        width: 70px;
        opacity: 0.6;
        z-index: 2;
    }

    .key_circle_bl02 {
        position: absolute;
        bottom: 45%;
        left: 5%;
        width: 8%;
        z-index: 2;
        opacity: 0.6;
    }

}

/* ↑ キービジュアルパーツ配置ここまで ↑ */

/* ＝＝＝公園検索＝＝＝ */

.search {
    padding-bottom: 0px;
}

.search_inner {
    position: relative;
    width: 65vw;
    margin: 0 auto;
}

/* 太陽の位置 */
.sun_box {
    position: relative;
}

.top_sun, .top_sun_face {
    position: absolute;
    width: 25vw;
    top: 0px;
    right: 0px;
}

.top_sun {
    animation: 15s linear infinite sun-rotation;
    /* transform: scale(0.85, 0.85);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.5s;
    width: 128px; */
}

/* 太陽のくるくるアニメ */
@keyframes sun-rotation {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* グローブジャングルの位置 */
.top_grove {
    position: absolute;
    width: 15vw;
    top: 160px;
    left: 50px;
    animation: 6s linear infinite grove-rotation;
}

/* グローブジャングルのくるくるアニメ */
@keyframes grove-rotation {
    0% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(360deg);
    }
}

/* シーソーの位置 */
.top_seesaw {
    position: absolute;
    width: 20vw;
    top: 160px;
    right: 30px;
    transform-origin: center bottom;
    animation: seesaw-rotation 3s linear infinite;
}

/* シーソーのアニメ */
@keyframes seesaw-rotation {
    0%, 100% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }
}


/* 太陽と遊具 500px幅~ */
@media screen and (min-width: 500px) {
    .top_sun, .top_sun_face {
        width: 20vw;
        right: 0px;
    }

    .top_grove {
        width: 15vw;
        top: 200px;
        left: 100px;
    }

    .top_seesaw {
        width: 20vw;
        top: 220px;
        right: 30px;
    }

}

/* 太陽と遊具 TB幅~ */
@media screen and (min-width: 771px) {
    .top_sun, .top_sun_face {
        width: 20vw;
        right: 0px;
    }

    .top_grove {
        width: 15vw;
        top: 180px;
        left: 100px;
    }

    .top_seesaw {
        width: 20vw;
        top: 230px;
        right: 50px;
    }

}

/* 太陽と遊具 1000px幅~ */
@media screen and (min-width: 1000px) {
    .top_sun, .top_sun_face {
        width: 15vw;
        right: 0px;
    }

    .top_grove {
        width: 12vw;
        top: 200px;
        left: 50px;
    }

    .top_seesaw {
        width: 15vw;
        top: 270px;
        right: 30px;
    }
}


/* 太陽と遊具 PC幅 */
@media screen and (min-width: 1200px) {
    .top_sun, .top_sun_face {
        width: 15vw;
        right: 0px;
    }

    .top_grove {
        width: 12vw;
        top: 200px;
        left: -50px;
    }

    .top_seesaw {
        width: 15vw;
        top: 350px;
        right: -60px;
    }
}

/* 地図 */

.search_map {
    width: 100%;
    margin-bottom: 50px;
}

.map_btn {
    position: absolute;
    padding: 2vw;
    border: #3E3A39 3px solid;
    border-radius: 50%;
    background-color: #FFFCE3;
}

/* マップボタン用のホバー効果 */

.map_btn.circle {
    background: #FFFCE3;
    color: #3E3A39;
    overflow: hidden;
    transition-duration: .4s;
    z-index: 2;
}

.map_btn.circle::after {
    border-radius: 50%;
    content: "";
    display: block;
    margin: auto;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 100%;
    height: 0;
    z-index: -1;
    transform: translateY(-50%) scale(0.1);
    transition: opacity .5s, transform 0s;
    transition-delay: 0s, .4s;
}

.map_btn_east.circle::after {
    background: #FF397B;
}

.map_btn_west.circle::after {
    background: #39BDFF;
}

.map_btn_south.circle::after {
    background: #FFEB39;
}

.map_btn.circle:hover {
    color: #fff;
}

.map_btn_south.circle:hover {
    color: #000;
}

.map_btn.circle:hover::after {
    opacity: 1;
    transform: translateY(-50%) scale(1.1);
    transition-delay: 0s;
    transition: opacity .8s, transform .6s ease-in-out;
}

/*マップボタンの位置調整 */

.map_btn_east {
    top: 13%;
    right: 23%;
}

.map_btn_west {
    top: 23%;
    left: 20%;
}

.map_btn_south {
    bottom: 36%;
    right: 35%;
}

/* TB幅以上 */
@media screen and (min-width: 771px) {

    .search_map {
        width: 70%;
        margin-bottom: 50px;
    }

    .map_btn {
        padding: 3vw;
        font-size: 20px;
    }

    /* マップボタンの位置調整 */
    .map_btn_east {
        top: 14%;
        right: 30%;
    }

    .map_btn_west {
        top: 22%;
        left: 27%;
    }

    .map_btn_south {
        bottom: 28%;
        right: 37%;
    }
}

/* ＝＝＝お知らせ＝＝＝ */
.news_img {
    width: 280px;
}

/* お知らせの記事を改行して表示 */
.news_article a {
    display: block;
    margin: 50px 0;
}

.news_date {
    font-size: 14px;
}

.news_ttl {
    font-size: 16px;
}

/* TB幅以上 */
@media screen and (min-width: 771px) {

    /* お知らせの矢印を含めた３つを横並びにして、上下中央に表示させる */
    .news_next_btn {
        margin: 0px auto 0px;
    }

    /* お知らせ記事の表示を整える */
    .news_article a {
        margin: 30px auto;
        text-align: left;
    }

    .news_date {
        font-size: 16px;
    }

    .news_ttl {
        font-size: 20px;
    }
}

/* ＝＝＝インスタ＝＝＝ */

/* インスタの写真を囲む枠 */
.insta_box {
    margin-top: 50px;
    padding: 50px;
    border: #3E3A39 2px solid;
    border-radius: 30px;
    background-color: #FFFCE3;
}

@media screen and (max-width: 950px) {
    .insta_box {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* ＝＝＝リンク集＝＝＝ */

.banner {
    margin-bottom: 30px;
}

.banner_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 30px;
    margin-top: 50px;
}
